<h1>Records Table Person</h1>
Name: 
<input type="text" [(ngModel)]="personItem.Name"/>
<br>
<br>
LastName: 
<input type="text" [(ngModel)]="personItem.LastName"/>
<br>
<br>
Age: 
<input type="number" [(ngModel)]="personItem.Age"/>
<br>
<br>
<button type="button">Save</button>

<br>

<br>
<table>
    <thead>
    <tr >
        <td>Id</td>
        <td>Name</td>
        <td>LastName</td>
        <td>Age</td>
        <td colspan="2">Action</td>
    </tr>
</thead>
    <tbody>
    <tr *ngFor="let item of listPerson">
        <td >{{item.Id}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.Age}}</td>
        <td><button (click)="deletePersonByID(item.Id)">Delete</button></td>
        <td><button >Edit</button></td>
    </tr>
</tbody>
</table>

