.header {
    display    : flex;
    align-items: center;

}

.header a {
    display        : flex;
    align-items    : center;
    text-decoration: none;
}

.header .logo_h {
    max-height: 50px;
    padding-left: 25px;
}

.header .title_h {
    padding-left: 25px;

}

.header .title_h i{
    padding-left: 25px;
  
}