<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="65">
        <mat-nav-list class="nav-list">
            <a [routerLink]="['/app-welcome']" mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a [routerLink]="['/app-binding']" mat-list-item>
                <i class="material-icons">
                    share
                </i>
                Bindings
            </a>
            <a [routerLink]="['/app-directive']" mat-list-item>
                <i class="material-icons">
                    input
                </i>
                Directive
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    linear_scale
                </i>
                Pipe
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>